@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>By using this site you are agreeing to having your data sold to the highest bidder. Thank you for your cooperation! </p>
